{% load static %}
        

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="static/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/static/css/syle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <style>
  
  .text-light{
    text-decoration:none;
    display: inline-block;
    margin-right: 20px;
}


    .bg-custom-color{
      background-color: rgb(161,104,114) !important; /* Add your desired background color here */
    }
      
      </style>

</head>
<body>

    <script src="static/static/js/bootstrap.min.js"></script>
    <script src="static/static/js/popper.js"></script>
    <script src="static/static/js/main.js"></script>





<!-- Footer -->
<footer class="container-fluid bg-custom-color text-light mt-5">
    <div class="row">
      
        <!-- Address -->
        <div class="col-md-4 p-4">
            <h4>BeautyBlend</h4>
            <hr class="bg-light">
            <ul style="list-style-type:disc;">
              <li>Who are we?</li>
              <li>Career</li>
              <li>Testimonial</li>
              <li>Authenticity</li>
            </ul>
           
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4 p-4">
            <h4>Quick Links</h4>
            <hr class="bg-light">
            <a href="index.html" class="text-light">offer zone</a><br>
            <a href="contact.html" class="text-light">New Launches</a><br>
            <a href="about.html" class="text-light">SiteMap</a><br>
        </div>
  
        <!-- Connect Us -->
        <div class="col-md-4 p-4">
            <h5>show us some <i class="bi bi-heart-fill h-25"></i>social media</h5>
            <hr class="bg-light">
            <a href="https://www.facebook.com" target="_blank" class="text-light"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank" class="text-light"><i class="bi bi-instagram"></i></a>
            <a href="https://www.twitter.com/" target="_blank" class="text-light"><i class="bi bi-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank" class="text-light"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
  </footer>
  